body {
  background-color: white;
  color: #303030;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 20px;
}

main {
  background-color: #05ffb0;
  margin: 20px auto;
  max-width: 450px;
  padding: 20px;
}